# immadiately invoked function expression
snippet iife
(function (${2}) {${3}}(${1}));

# if () 
snippet if 
if (${1:true}) {
    ${2}
}

# for loop
for (var ${1:i} = 0; ${1} < ${2:array}.length; ${1}++) {
    ${2}[${1}];
}

snippet var
var ${1:name} = ${2:value};
